{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "plugins": [
    [
      "relay",
      {
        "schema": "./schema.json"
      }
    ],
    "transform-react-jsx-source"
  ]
}